/*Defining General Styles*/

html{
    font-size: 62.5%;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    font-size: 1.8rem;
    background-color: #f8fcff;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Styles for the navigation bar*/ 
header{
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(42, 158, 236);
    padding: 0.5rem 2rem;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav{
    display: flex;
}

h2{
    color: #fff;
}


ul{
    display: flex;
}


a{
    text-decoration: none;
}



.nav-item {
    color: #fff;
    font-weight: 500;
    margin-right: 4rem;
    transition: scale .2s;
}

.nav-item:hover{
    scale: 1.2;
}

.content{
    flex-grow: 1;
}


.message{
    padding: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


footer{
    padding: 5rem;
    height: 20rem;
    background-color: dodgerblue;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
ul,ol{
    list-style: none;
}

footer ul{
    flex-grow: 1;
    justify-content: space-between;

}

footer ol{
    display: flex;
    list-style: none;
}

footer ol a{
    font-size: 3rem;
    color: #fff;
    margin-left: 2rem;
}

footer ul li ul{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    margin-left: -3rem;
    margin-top: 1.5rem;
}

footer ul li ul a{
    color: #fff;
    margin-top: 1.5rem;
    transition: scale 0.2s;
}

footer ul li ul a:hover{
    color: #dffaff;
    scale: 1.03;
}

i{
    margin-right: 1.5rem;
}


/*Category Button container*/
.category-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.men-btn, .women-btn, .electronics-btn{
    width: 15rem;
    border-radius: 30px;
    background: 0 #fff;
    border: 2px solid dodgerblue;
    padding: 1rem 1.5rem;
    margin: 0 3rem;
    transition: color 0.15s background-color 0.15s;
}

.men-btn:hover, .women-btn:hover, .electronics-btn:hover{
    color: white;
    background-color: dodgerblue;
}
/*Styles for the List of Products*/
.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card{
    background: #fff;
    border: solid 1px dodgerblue;
    border-radius: 60px;
    box-shadow: 0 0 0 10px rgba(57, 145, 251,0.1);
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    white-space: wrap;
    padding: 3rem;
    margin: 2.5rem 1.5rem;
    transition: scale 0.5s;
}

.product-card:hover{
    scale: 1.05;
}

.product-card-title{
    font-size: 1.7rem;
}

.product-card-price{
    font-weight: bold;
}

.product-card-image{
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.product-card-description{
    color: rgb(7, 19, 125);
    font-size: 1.2rem;
    max-height: 0;
    opacity: 0;
    transition:opacity 0.2s ease;
}

.product-card:hover .product-card-description{
    opacity: 1;
    font-weight: 200;
    max-height: fit-content;
}

@media screen and (min-width:1024px){

    .product-container{
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        row-gap: 10px;
        column-gap: 10px;
        margin-top: 2rem;
        justify-items: center;
    }
    

}

.addToCart-btn{
    padding: 1rem 2rem;
    border: 0;
    border-radius: 30px;
    background-color: dodgerblue;
    color: #fff ;
    transition: background-color 0.15s;
}

.addToCart-btn:hover{
    background-color: rgb(0, 124, 247);
}


.count-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.count-btn button{
    border: 0;
    border-radius: 40px;
    background-color: dodgerblue;
    height: 4rem;
    margin: 0 2rem;
    padding: 0 2rem;
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
}

.count-btn button:hover{
    background: rgb(3, 128, 252);
}

.remove-btn{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    border: 0;
    border-radius: 30px;
    padding: 1rem 2rem;
    background: rgb(249, 41, 41);
    transition: scale 0.2s;
}

.remove-btn:hover{
    scale: 1.1;
    background: red;
}